ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
li {
  border-style: solid;
  margin: 0;
  padding: 0;
}

table {
  margin-top: 1em;
  margin-bottom: 1em;
}
@media screen and (min-width: 480px) {
  li {
    margin: 1em;
    padding: 1em;
  }
}
