<div>
  <h2>Online Shopping tools</h2>
  <h3>Online Giftcards</h3>
  <p>
    Discounts from 5% to 15%. Stores that are frequently in stock include:
    Target, HomeDepot, Lowes, AirBnB, Apple, Bed Bath & Beyond, Kohl's
  </p>
  <p>
    In order of preference: <a href="https://cardcookie.com/">CardCookie</a>,
    include "giftcard" and search on
    <a href="https://slickdeals.net/">Slickdeals</a>,
    <a href="https://www.raise.com/">Raise</a>
  </p>
  <table class="pure-table pure-table-bordered">
    <tbody>
      <tr>
        <td style="background-color: rgb(145 238 145 / 0.25)">
          Discounts from 5% to 15%
        </td>
        <td style="background-color: rgb(240 128 128 / 0.25)">
          Not instant. May take 24 hours to receive the cards from email
        </td>
      </tr>
      <tr>
        <td style="background-color: rgb(145 238 145 / 0.25)">
          Can purchase with credit card
        </td>
        <td style="background-color: rgb(240 128 128 / 0.25)">
          Risk if you don't use giftcard immediately.
        </td>
      </tr>
    </tbody>
  </table>

  <h3>Cashback (Shopping Portals)</h3>
  <p>
    Many choices and nearly all will prompt you to install their browser addon
    (usually not needed).
  </p>
  <a href="https://www.cashbackmonitor.com/">CashbackMonitor</a>
  See more info at<a
    href="https://www.uscreditcardguide.com/cashback-monitor-introduction/#1_Introduction_to_Shopping_Portals"
    >CreditCardGuide</a
  >
</div>
