<h2>household-product Review sites</h2>
<p>
  Be wary of the review sites from your top google search with nothing but top 5
  or top 10 amazon links. Those low quality sites are often reviewed by someone
  who has no hands on experience with any of the products or regurgitated from
  ConsumerReports (which you can often get free from your library or torrent).
</p>
<p>
  Here are a few quality review websites with hands-on experience in order of
  preference:
</p>
<ul>
  <li>
    <p>
      <a target="_blank" href="https://www.techgearlab.com/">TechGearLab</a>
    </p>
    <p>
      <a target="_blank" href="https://www.outdoorgearlab.com/"
        >OutdoorGearLab</a
      >
    </p>
    <p>
      <a target="_blank" href="https://www.babygearlab.com/">BabyGearLab</a>
    </p>
  </li>
  <p>
    These websites below loosely enforce article limits, but you can easily work
    around it by using incognito mode, clear your cache/cookies, open another
    browser profile (available in
    <a target="_blank" href="https://brave.com/">Brave browser</a>), or using
    another browser.
    <li>
      <p>
        <a target="_blank" href="https://www.rtings.com/">RTINGS</a> for
        electronics
      </p>
    </li>
    <li>
      <a target="_blank" href="https://www.wirecutter.com/"
        >NY Times - Wirecutter</a
      >
      <p>
        You can also check out their
        <a
          target="_blank"
          href="https://www.nytimes.com/wirecutter/deals/#deals-controls"
          >deals page</a
        >.
      </p>
      <p>
        They have a history of pay-to-play corruption so take the higher-end
        ($1000+) suggestions with a grain of salt.
      </p>
    </li>
    <li>
      <p>
        DIY tool reviews:
        <a target="_blank" href="https://www.youtube.com/@ProjectFarm/playlists"
          >ProjectFarm youtube</a
        >.
      </p>
    </li>
    <li>
      <p>
        As Seen on TV reviews:
        <a target="_blank" href="https://freakinreviews.com/">Freakin Reviews</a
        >.
      </p>
    </li>
  </p>
</ul>
