<h3>Credit Cards</h3>
<p>
  When not chasing a credit card signup bonus, these are the cards I regularly
  use. None of these below have an annual fee and all offer straight cash back.
  Higher cash back/travel points are available from cards that do have annual
  fees.
</p>
<h4>Alliant 2.5% cash back</h4>
<p>
  The best card for
  <a target="_blank" href="https://www.costco.com">Costco</a>/Walmart.
  All-purpose back-up card. Takes a month or two to setup (initial rate is only
  1.5% cash back) with their checking account. Although, you might as well go
  for their other
  <a
    target="_blank"
    href="https://promo.alliantcreditunion.org/fastpass/?utm_source=seg-external&utm_medium=flyer&utm_campaign=1655_seg_inflationbuster#element-587"
    >$300 bank account signup bonuses (use code: FASTPASS)</a
  >. You can get up to $400 but you might want to pass on the $100 for parking
  $10k. For more info, see
  <a
    target="_blank"
    href="https://www.doctorofcredit.com/alliant-credit-union-400-checking-savings-cd-bonus-for-new-or-existing-members-code-fastpass/"
    >DoctorOfCredit</a
  >.
</p>
<h4>Juno 5% Debit Card</h4>
<p>
  Debit card from a new online-only bank. Limited to 10 pre-selected merchants
  out of a relatively limited list. Able to change merchants at start of each
  month. For more info about the decent savings interest, see
  <a href="money#juno">our post about the Juno bank account</a>.
</p>
<h4>Citi Custom Cash 5% in select category</h4>
<p>
  Unlike other 5% cards, you don't need to do extra work for this card.
  Whichever category you spent the most will be selected. Supermarkets is
  usually a good choice. You can also consider buying a physical gift card (Best
  Buy, Home Depot/Lowes, Amazon, etc.) from a major supermarket.
</p>
<h4>Chase Freedom / Discover, 5% in rotating categories</h4>
<p>
  These 2 cards feature an ever-changing calendar that requires you to signup
  online a month before every quarter.
</p>
<h4>Capital One, 3% restaurant</h4>
<p>Savor One. Although other cards also offer 3% for restaurant.</p>
<p>
  See more aggregated info at
  <a
    target="_blank"
    href="https://www.uscreditcardguide.com/best-rewards-credit-cards-to-keep/"
    >CreditCardGuide</a
  >.
</p>
