<section>
  <h2>smart sleep cooling/heating pad</h2>
  <p>Updated June 2023.</p>
  <a href="http://refer.eight.sl/hn6r4grd" target="_blank">
    <img
      src="https://eight-sleep.imgix.net/Mattress_carousel_c9930900-f74e-4c14-9316-967029462c18.jpg?auto=format&h=1000&dpr=2"
      width="50%"
      height="50%"
      border="0"
      alt=""
      style="border: none !important; margin: 0px !important" />

    <img
      src="https://eight-sleep.imgix.net/carousel_phone.png?auto=format&h=1000&dpr=2"
      width="50%"
      height="50%"
      border="0"
      alt=""
      style="border: none !important; margin: 0px !important"
  /></a>
  <p>
    Buy this expensive, temperature-controlling, sleeping pad (Pod 3 cover) or
    mattress with my $250 referral discount at
    <a target="_blank" href="http://refer.eight.sl/hn6r4grd">EightSleep</a>
  </p>
  <p>
    (Price at time: $2050 for queen-size Pod 3 Cover with PerfectFit. Price has
    dropped to $1700 during Memorial Day. $250 referral coupon does not stack
    with other coupons.)
  </p>
  <p>
    PROS: Membership is not required for main features. You can set your side to
    one temperature and your partner can set to a different temperature. This
    cover goes over your existing mattress with minimal difference to mattress
    feeling (older versions are more noticeable). You can set a schedule for
    temperature controls per day per side. You can manually override the
    schedule to set the temperature at any time. You can set vibration wake-up
    alarms per side with adjustable strength (Although light sleepers can still
    hear or feel the vibration from the other side). The accuracy is
    questionable but the app will try to wake you up in your desired timeframe,
    while maintaining REM sleep. Thirty days free return.
  </p>
  <p>
    CONS: The device is noisy when changing temperature, although relatively
    quiet after temperature is reached and during the night. Initial
    setup/disassembly takes hours. Membership only required for heart rate
    tracking and other features (which is likely not accurate anyway).
  </p>
  <p>
    This cover uses water so some precaution maybe needed with pets. Much
    cheaper alternative products use air instead. There may be some alternatives
    available that also use water, with varying comfort.
  </p>
  <p>
    A smart phone is required for initial setup and for manual controls. There
    are no physical manual controls or remote controller.
  </p>
  <!-- <app-pros-cons-table [pros]="pros" [cons]="cons"></app-pros-cons-table> -->
</section>
