<h2>DoctorOfCredit - bank signup bonuses</h2>
<p>
  Check out the
  <a
    target="_blank"
    href="https://www.doctorofcredit.com/best-bank-account-bonuses/#Best_Checking_Account_Bonuses"
    >best bank</a
  >
  and
  <a
    target="_blank"
    href="https://www.doctorofcredit.com/best-current-credit-card-sign-bonuses/#Personal_Cards"
    >credit card</a
  >
  signup bonuses at
  <a
    target="_blank"
    target="_blank"
    href="https://www.doctorofcredit.com/a-list-of-churnable-bank-account-bonuses/#toc_container"
    >DoctorOfCredit</a
  >.
</p>
<p>
  Most banks such as Chase have no early cancellation fee and will let you get
  the signup bonus again after 2 years. Example:
  <a target="_blank" href="https://account.chase.com/consumer/banking/QK72296"
    >$900 signup bonus for new Chase bank users</a
  >. More info on
  <a
    target="_blank"
    href="https://www.doctorofcredit.com/targeted-chase-900-checking-savings-bonus/"
    >DoctorOfCredit</a
  >.
</p>
<p>
  If you're not confident with your credit score, read more at
  <a
    target="_blank"
    href="https://www.doctorofcredit.com/questions-to-ask-yourself-before-applying-for-that-next-credit-card/"
    >should you apply?</a
  >
  to see if "churning" is right for you. You may wish to avoid the credit card
  bonuses and only stick to the bank account bonuses. Bonus/interest over $10 is
  reported to the IRS. The banks will usually both mail the relevant tax form to
  your address and provide it in your account settings online.
</p>
<p>
  There may be annual or monthly fees, so cancel your account after the bonus
  posts. Then, move your money to the next bonus (and check DoctorOfCredit for
  info on fees) or just park your savings in Juno (<a href="#juno-onlinebank"
    >listed below</a
  >).
</p>
