<section>
  <h2>
    <a target="_blank" href="https://copilot.microsoft.com"
      >Copilot Chatbot (bing search + ChatGPT 4)</a
    >
  </h2>
  <p>
    This free AI chatbot (requires Microsoft login) at
    <a target="_blank" href="https://copilot.microsoft.com"
      >copilot.microsoft.com</a
    >
  </p>
  <p>
    Previously (Nov 2023) had a toggle to select ChatGPT 4, which is now
    removed. Not sure if using ChatGPT 3 or 3.5 or 4. Uses bing search and
    provides a few sources. Self-censors and resilient to jailbreaks.
  </p>
  <p>
    Available as a mobile app at
    <a
      target="_blank"
      href="https://play.google.com/store/apps/details?id=com.microsoft.copilot&hl=en&gl=US"
      >Google Playstore</a
    >
    and
    <a
      target="_blank"
      href="https://apps.apple.com/us/app/microsoft-copilot/id6472538445"
      >Apple Appstore</a
    >.
  </p>
  Jailbreak prompts:
  <a target="_blank" href="https://www.jailbreakchat.com">jailbreakchat.com</a>
  <h3>Alternatives</h3>
  <ul>
    <li>
      <a target="_blank" href="https://www.phind.com/search?home=true"
        >phind.com</a
      >
      : No login needed. Provides sources. Also censored.
    </li>

    <li>
      <a target="_blank" href="https://www.chat.openai.com/chat">openai.com</a>
      : The original ChatGPT. Older versions are free.
    </li>

    <li>
      <a target="_blank" href="https://platform.openai.com/playground"
        >platform.openai.com</a
      >
      : Allows tweaking settings, including faster response.
    </li>
  </ul>
</section>
