<section>
  <h2>Glasses nose pads</h2>
  <div>Last updated: May 2023.</div>
  <a
    href="https://www.amazon.com/Setex-Ultra-Thin-Anti-Slip-Eyeglasses-Micro-Structured/dp/B08PZF22R1?th=1&linkCode=li3&tag=practicalre0a-20&linkId=2b2399ad3a5ae122b704fd8cd9e0cb18&language=en_US&ref_=as_li_ss_il"
    target="_blank"
    ><img
      border="0"
      src="//ws-na.amazon-adsystem.com/widgets/q?_encoding=UTF8&ASIN=B08PZF22R1&Format=_SL250_&ID=AsinImage&MarketPlace=US&ServiceVersion=20070822&WS=1&tag=practicalre0a-20&language=en_US" /></a
  ><img
    src="https://ir-na.amazon-adsystem.com/e/ir?t=practicalre0a-20&language=en_US&l=li3&o=1&a=B08PZF22R1"
    width="1"
    height="1"
    border="0"
    alt=""
    style="border: none !important; margin: 0px !important"
  />
  <p>
    Buy these Made-In-USA nosepads for your glasses at
    <a target="_blank" href="https://amzn.to/45xrAdR">Amazon</a>
    (Price at time: $29 for 15 or $14 for 5.
    <sub
      >Sold by
      <a target="_blank" href="https://www.amazon.com/sp?seller=A14DWN8NSBJGFJ"
        >Setex Technologies</a
      ></sub
    >)
  </p>
  <p>
    Different sizes are available but you will probably want the thinnest ones
    because the thicker ones fall off easier (after a few weeks).
  </p>
  <!-- <app-pros-cons-table
      [pros]="glassPros"
      [cons]="glassCons"
    ></app-pros-cons-table> -->
</section>
