<section>
  <h2>Slip-On Rain Boots</h2>

  wolverine
  <p>
    These boots occasionally go on sale. I purchased for $30 with code: PULLON
    from wolverwine website.

    <a target="_blank" href="https://amzn.to/43YYdzX">Amazon</a>. (Price at
    time: $. <sub>Sold by Amazon</sub>)
  </p>
  <p></p>

  alt smaller:
  <p>
    These boots are smaller. They can be used without socks, but can be
    difficult to remove. Durable. Pic of after 2 years of abuse: Buy at
    <a target="_blank" href="https://amzn.to/43YYdzX">Amazon</a>. (Price at
    time: $. <sub>Sold by Amazon</sub>)
  </p>
  <p></p>
</section>
