p {
  max-width: 40rem;
}
a {
  background-color: rgb(159, 255, 255);
}
.strike-me {
  background-color: white;
}
a:active {
  background-color: green;
}

.center {
  text-align: center;
}

.logo {
  font-size: xx-large;
  text-align: center;
  color: darkgreen;
}

.warning {
  font-size: larger;
  text-align: center;
  color: darkgoldenrod;
}

li {
  padding-right: .5rem;

}
footer {
  border-top: 1px solid;
  margin-top: 1rem;
}

footer p {
  padding: 0;
  margin: 0;
}

@media screen and (min-width: 480px) {
  h1 {
    padding-left: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  h2 {
    padding-left: 0.5rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }
  footer {
    padding: 0.5rem;
  }
  ul {
    padding-left: 1rem;
  }
}
