<header>
  <div class="logo">PracticalReviews.Org</div>
  <div class="warning">Beta Version - Weekly updates release every Monday</div>
  <nav id="j-nav" class="pure-menu pure-menu-horizontal">
    <ul class="pure-menu-list">
      <li
        class="pure-menu-item"
        [class.pure-menu-selected]="this.route === '/'"
      >
        <a routerLink="" class="pure-menu-link">Home</a>
      </li>
      <li
        class="pure-menu-item"
        [class.pure-menu-selected]="this.route.startsWith('/money')"
      >
        <a href="money" class="pure-menu-link">Saving Money</a>
      </li>
      <li
        class="pure-menu-item"
        [class.pure-menu-selected]="this.route.startsWith('/shopping')"
      >
        <a href="shopping" class="pure-menu-link">Shopping Tools</a>
      </li>
      <!-- <li
        class="pure-menu-item"
        [class.pure-menu-selected]="this.route.startsWith('/gadgets')"
      >
        <a href="#" class="pure-menu-link">Gadgets and Gifts</a>
      </li> -->
      <!-- TODO ADD DROPDOWN WITH DUMPS, online-only tools -->
      <!-- <li
        class="pure-menu-item"
        [class.pure-menu-selected]="this.route.startsWith('/referrals')"
      >
        <a routerLink="/referrals" class="pure-menu-link">Referrals</a>
      </li> -->
    </ul>
  </nav>
</header>
<router-outlet></router-outlet>
<footer>
  <p>
    Updated Feb 6, 2023. All Rights Reserved. Unless stated otherwise, this
    website has no affiliation with any of the mentioned products, merchants, or
    services.
  </p>
</footer>
