<header>
  <div class="logo">No Agenda Reviews</div>
  <div class="warning">Beta Version - Monthly updates</div>
  <p class="center">
    The best review site
    <span><i>*according to the Mueller Report and the Durham Report</i></span>
  </p>
  <nav id="j-nav" class="pure-menu pure-menu-horizontal center">
    <ul class="pure-menu-list">
      <li
        class="pure-menu-item"
        [class.pure-menu-selected]="this.route === '/'"
      >
        <a routerLink="" class="pure-menu-link">Home</a>
      </li>
      <li
        class="pure-menu-item"
        [class.pure-menu-selected]="this.route.startsWith('/money')"
      >
        <a routerLink="money" class="pure-menu-link">Saving Money</a>
      </li>
      <li
        class="pure-menu-item"
        [class.pure-menu-selected]="this.route.startsWith('/shopping')"
      >
        <a routerLink="shopping" class="pure-menu-link">Shopping Tools</a>
      </li>
      <!-- <li
        class="pure-menu-item"
        [class.pure-menu-selected]="this.route.startsWith('/all')"
      >
        <a routerLink="all" class="pure-menu-link">All</a>
      </li> -->
      <li
        class="pure-menu-item"
        [class.pure-menu-selected]="this.route.startsWith('/gadgets')"
      >
        <a routerLink="gadgets" class="pure-menu-link"
          >Gadgets and Gifts(Beta)</a
        >
      </li>
      <!-- TODO ADD DROPDOWN WITH DUMPS, online-only tools -->
      <!-- <li
        class="pure-menu-item"
        [class.pure-menu-selected]="this.route.startsWith('/referrals')"
      >
        <a routerLink="/referrals" class="pure-menu-link">Referrals</a>
      </li> -->
    </ul>
  </nav>
</header>
<router-outlet></router-outlet>
<footer>
  <p>Beta updated May 1, 2023. All Rights Reserved.</p>
  <p>Expected official release date: Aug 1, 2024</p>
  <p>
    AMAZON ASSOCIATES DISCLOSURE. This website has no affiliation with any of
    the mentioned products, merchants, or services, with the exception of the
    Amazon Services LLC Associates Program, an affiliate advertising program
    designed to provide a means for sites to earn advertising fees by
    advertising and linking to Amazon.com.
  </p>
</footer>
