p {
  max-width: 40rem;
}

a:active {
  background-color: green;
}

@media screen and (min-width: 480px) {
  h1 {
    padding-left: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  h2 {
    padding-left: 0.5rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }
  footer {
    padding: 0.5rem;
  }
}
