<div>
  <h2>Online Shopping tools</h2>
  <p>
    Useful tools for shopping at websites other than
    <a target="_blank" href="https://www.amazon.com?tag=narc01-20">Amazon</a>.
  </p>
  <section><app-credit-cards></app-credit-cards></section>
  <section>
    <h3>
      <a target="_blank" href="https://wwww.slickdeals.com"
        >SlickDeals - search for limited time offers</a
      >
    </h3>
    <p>
      Deals may include physical or digital visa giftcards, combined with credit
      card offers on office supply stores such as Staples and OfficeDepot.
    </p>
  </section>
  <section>
    <h3>Online Giftcards</h3>
    <p>
      Discounts from 5% to 15%. Stores that are frequently in stock include:
      Target, HomeDepot, Lowes, AirBnB, Apple, Bed Bath & Beyond, Kohl's
    </p>
    <p>
      In order of preference:
      <a target="_blank" href="https://cardcookie.com/">CardCookie</a>,
      <a target="_blank" href="https://www.raise.com/">Raise</a>.
    </p>
    <table class="pure-table pure-table-bordered">
      <tbody>
        <tr>
          <td style="background-color: rgb(145 238 145 / 0.25)">
            Discounts from 5% to 15%
          </td>
          <td style="background-color: rgb(240 128 128 / 0.25)">
            Not instant. May take 24 hours to receive the cards from email
          </td>
        </tr>
        <tr>
          <td style="background-color: rgb(145 238 145 / 0.25)">
            Can purchase with credit card
          </td>
          <td style="background-color: rgb(240 128 128 / 0.25)">
            Risk if you don't use giftcard immediately.
          </td>
        </tr>
      </tbody>
    </table>
  </section>
  <section>
    <h3>Cashback (Shopping Portals)</h3>
    <p>
      Nearly all will prompt you to install their browser addon (not needed but
      can be convenient). Amazon and similiar websites usually don't offer
      cashback on anything besides affiliated products (ex. Fire tablets).
    </p>
    <a target="_blank" href="https://www.cashbackmonitor.com/"
      >CashbackMonitor</a
    >
    See more info at
    <a
      target="_blank"
      href="https://www.uscreditcardguide.com/cashback-monitor-introduction/#1_Introduction_to_Shopping_Portals"
      >CreditCardGuide</a
    >.
  </section>
  <section>
    <app-review-sites></app-review-sites>
  </section>
</div>
