<section>
  <h2>Sunglass clips</h2>
  <a
    href="https://www.amazon.com/gp/product/B0919GX4XZ?ie=UTF8&psc=1&linkCode=li3&tag=practicalre0a-20&linkId=c1915e6c9caf4c4d3d57c89c8b6c82af&language=en_US&ref_=as_li_ss_il"
    target="_blank"
    ><img
      border="0"
      src="//ws-na.amazon-adsystem.com/widgets/q?_encoding=UTF8&ASIN=B0919GX4XZ&Format=_SL250_&ID=AsinImage&MarketPlace=US&ServiceVersion=20070822&WS=1&tag=practicalre0a-20&language=en_US" /></a
  ><img
    src="https://ir-na.amazon-adsystem.com/e/ir?t=practicalre0a-20&language=en_US&l=li3&o=1&a=B0919GX4XZ"
    width="1"
    height="1"
    border="0"
    alt=""
    style="border: none !important; margin: 0px !important"
  />
  <p>
    Buy these cheap, plastic, polarized sunglass clips that go over your
    existing glasses at
    <a target="_blank" href="https://amzn.to/3pq8Mx2">Amazon</a>
    (Price at time: $15 for 60*47mm.
    <sub
      >Sold by
      <a
        target="_blank"
        href="https://www.amazon.com/sp?ie=UTF8&isAmazonFulfilled=1&marketplaceSeller=1&orderID=112-3463812-2299445&seller=AGQ77HSTPKND5"
        >Chaingo</a
      ></sub
    >)
  </p>
  <p>
    A cheap solution to protect your glasses when you go to the beach, trim
    grass, use a saw or other activities that may damage your regular glasses.
    Polarized glasses may also allow you to see slightly better through water
    when there is sun reflections.
  </p>
  <app-pros-cons-table [pros]="pros" [cons]="cons"></app-pros-cons-table>
</section>
