<section>
  <h2>Electric Fly Swatter</h2>
  <div>Last updated: June 2023.</div>
  <p>Quickly kill mosquitos, flies, and wasps.</p>
  <p>
    Smaller bugs/nats may fly right through 50% of time. Big bugs generally
    stick to the screen where you can hold for a few seconds to kill (otherwise
    they will just be stunned).
  </p>
  <h3>Rotating Swatter</h3>
  <a
    href="https://www.amazon.com/Rotating-Rechargeable-Electric-Swatter-Mosquito/dp/B0BVKJLNH2?crid=3CT9ZI5RQQ5T6&keywords=electric%2Bfly%2Bswatter%2Blarge%2Brotate&qid=1679964140&sprefix=electric%2Bfly%2Bswatter%2Blarge%2Brotate%2Caps%2C102&sr=8-6&th=1&linkCode=li3&tag=practicalre0a-20&linkId=9b9d74da51507f55f158801b219ecbdf&language=en_US&ref_=as_li_ss_il"
    target="_blank"
    ><img
      border="0"
      src="//ws-na.amazon-adsystem.com/widgets/q?_encoding=UTF8&ASIN=B0BVKJLNH2&Format=_SL250_&ID=AsinImage&MarketPlace=US&ServiceVersion=20070822&WS=1&tag=practicalre0a-20&language=en_US" /></a
  ><img
    src="https://ir-na.amazon-adsystem.com/e/ir?t=practicalre0a-20&language=en_US&l=li3&o=1&a=B0BVKJLNH2"
    width="1"
    height="1"
    border="0"
    alt=""
    style="border: none !important; margin: 0px !important"
  />
  <p>
    <a target="_blank" href="https://amzn.to/42RyrfR">Amazon</a>
    (Price at time: $26 for 1 or $40 for 2.
    <sub
      >Sold by
      <a
        target="_blank"
        href="https://www.amazon.com/sp?ie=UTF8&seller=AH0WMAJ5DDJOA"
      >
        GeckoMan</a
      ></sub
    >)
  </p>

  <h3>Plain Black&Decker Swatter</h3>
  <a
    href="https://www.amazon.com/BLACK-DECKER-Electric-Swatter-Mosquito/dp/B091V34XR5?crid=1VU8YJFRCEPT4&keywords=black+decker+electric+fly+swatter&qid=1687804662&s=lawn-garden&sprefix=black+decker+electric+fly+swatte%2Clawngarden%2C130&sr=1-6&linkCode=li3&tag=practicalre0a-20&linkId=5ff76b1df61300e0ab5235612d60b385&language=en_US&ref_=as_li_ss_il"
    target="_blank"
    ><img
      border="0"
      src="//ws-na.amazon-adsystem.com/widgets/q?_encoding=UTF8&ASIN=B091V34XR5&Format=_SL250_&ID=AsinImage&MarketPlace=US&ServiceVersion=20070822&WS=1&tag=practicalre0a-20&language=en_US" /></a
  ><img
    src="https://ir-na.amazon-adsystem.com/e/ir?t=practicalre0a-20&language=en_US&l=li3&o=1&a=B091V34XR5"
    width="1"
    height="1"
    border="0"
    alt=""
    style="border: none !important; margin: 0px !important"
  />
  <p>
    <a target="_blank" href="https://amzn.to/3r1vKuQ">Amazon</a>
    (Price at time: $10
    <sub
      >Sold by
      <a
        target="_blank"
        href="https://www.amazon.com/sp?ie=UTF8&seller=AQJWZNB22TCGI"
      >
        World Wide Dist</a
      ></sub
    >)
  </p>
  <app-pros-cons-table [pros]="pros" [cons]="cons"></app-pros-cons-table>
</section>
