<h1>List of all referrals</h1>
<ul>
  <li *ngFor="let referral of referrals">
    <h2 id="{{ this.removeStrings(referral.title) }}">{{ referral.title }}</h2>
    <p>{{ referral.desc }}</p>
    <a *ngIf="referral.link" href="{{ referral.link }}" target="_blank">{{
      referral.linkDesc
    }}</a>
    <p *ngIf="referral.desc2" [innerHTML]="referral.desc2"></p>
    <p *ngIf="referral.desc3" [innerHTML]="referral.desc3"></p>
    <p *ngIf="referral.desc4" [innerHTML]="referral.desc4"></p>
<app-pros-cons-table [pros]="referral.pros" [cons]="referral.cons"></app-pros-cons-table>
  </li>
</ul>
