<h1>List of all referrals</h1>
<ul>
    <li *ngFor="let referral of referrals">
        <h2 id={{this.removeStrings(referral.title)}}>{{referral.title}}</h2>
        <p>{{referral.desc}}
        </p>
        <a *ngIf="referral.link" href="{{referral.link}}" target="_blank">{{referral.linkDesc}}</a>
        <p *ngIf="referral.desc2" [innerHTML]="referral.desc2"></p>
        <p *ngIf="referral.desc3" [innerHTML]="referral.desc3"></p>
        <p *ngIf="referral.desc4" [innerHTML]="referral.desc4"></p>
        <table class="pure-table pure-table-bordered">
            <thead>
                <tr>
                    <th style="background-color: lightgreen">Pros</th>
                    <th style="background-color: lightcoral">Cons</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let row of referral.pros; index as i">
                    <td style="background-color: rgb(145 238 145 / 0.25)">{{referral.pros[i]}}</td>
                    <td style="background-color: rgb(240 128 128 / 0.25)">{{referral.cons[i]}}</td>
                </tr>

        </table>
    </li>
</ul>