<section>
  <h2>Intuit - free budgeting tool</h2>
  <p>
    After setup, it automatically pulls from your credit card and bank accounts
    to show all your savings and expenses up-to-date in one spot.
    <a target="_blank" href="https://mint.intuit.com/">Mint Intuit Signup</a>
  </p>
  <p>
    Available on ios and android, with useful widgets such as displaying all
    transactions.
  </p>
  <app-pros-cons-table [pros]="pros" [cons]="cons"></app-pros-cons-table>
  <p>
    Some rare accounts are unable to sync via Plaid directly to Intuit or
    frequently fail to update after the syncing. However, there is a workaround
    to add the troublesome account to an existing account that does its own
    linking (ironically through a different version of Plaid) such as
    <a
      target="_blank"
      href="https://refer.dcu.org/dcu/oard/default.aspx?referrer=64d3-fh89"
    >
      DCU signup</a
    >, which can then be tracked by Intuit.
  </p>
</section>
