<h2>Cards</h2>
<p>
  When not chasing a credit card signup bonus, these are the cards I regularly
  use.
</p>
<h3>Alliant 2.5% cash back</h3>
<p>The best card for Costco/Walmart. All-purpose back-up card.</p>
<h3>Citi Custom Cash 5% in select category</h3>
<p>
  Unlike other 5% cards, you don't need to do extra work for this card.
  Whichever category you spent the most will be selected. Supermarkets is
  usually a good choice. If you don't have much grocery spend, you can consider
  buying a gift card (Best Buy, Home Depot/Lowes, Amazon, etc.) before making a
  purchase. You can also check out our
</p>
<h3>Chase Freedom / Discover, 5% in select category</h3>
<p>
  These 2 cards feature an ever-changing calendar that requires you to signup a
  month before every quarter.
</p>
<p>
  More info at
  <a href="https://www.uscreditcardguide.com/best-rewards-credit-cards-to-keep/"
    >CreditCardGuide</a
  >
</p>
