<section>
  <h2>Lens Wipes (disposable)</h2>
  <div>Last updated: August 2023.</div>
  <h3>Bausch (Made-In-USA)</h3>
  <a
    href="https://www.costco.com/sight-savers-lens-cleaning-tissues%2c-200-tissues.product.100403370.html"
    target="_blank"
    ><img
      border="0"
      src="https://images.costco-static.com/ImageDelivery/imageService?profileId=12026540&imageId=1230848-847__1&recipeName=350"
  /></a>
  <p>
    Buy these Made-In-USA disposable lens wipes at
    <a
      target="_blank"
      href="https://www.costco.com/sight-savers-lens-cleaning-tissues%2c-200-tissues.product.100403370.html"
      >Costco</a
    >
    (Price at time: $15 for 200 tissues. Price has been $12 in 2022.)
  </p>
  <p>
    Also available at
    <a
      target="_blank"
      href="https://www.amazon.com/Bausch-Lomb-BAL8574GM-Pre-Moistened-Cleaning/dp/B005NIKG4E"
      >Amazon</a
    >
    <sub>(Sold by Amazon)</sub>
  </p>
  <p>
    Arguably much easier in the long run than keeping a microfiber cloth clean.
  </p>
  <p>
    Both Bausch and Zeiss wipes have a small learning curve as they are both
    like wet paper. When you wipe and a small amount of alcohol is left on but
    evaporates in around 1 second is when you are in the sweet spot. If you
    don't wait at all, wiping once without waiting, you will usually get water
    spots. If you wait too long, your wipe will dry out and leave streaks (Or
    worse, dirt/sand can damage your lens/screen. When in doubt, just open
    another wipe.).
  </p>
  <p>
    For rare sticky substances like oil, you will need something more absorptive
    (a fingertip works fine after an initial wipe) and then re-wipe.
  </p>
  <app-pros-cons-table [pros]="pros" [cons]="cons"></app-pros-cons-table>

  <h3>Zeiss (made-in-china)</h3>
  <p>
    Buy these alternative disposable lens wipes at
    <a
      target="_blank"
      href="https://www.costco.com/zeiss-lens-wipes%2c-300-wipes.product.4000045265.html"
      >Costco</a
    >
    (Price at time: $16 for 300 tissues.)
  </p>
  <p>Also available at Amazon and Walmart in various denominations.</p>
  <app-pros-cons-table [pros]="pros2" [cons]="cons2"></app-pros-cons-table>
</section>
