<div>
<h2>DoctorOfCredit - signup bonuses</h2>
<p>
    Check out the <a href="https://www.doctorofcredit.com/best-bank-account-bonuses/#Best_Checking_Account_Bonuses">best bank</a> and <a href="https://www.doctorofcredit.com/best-current-credit-card-sign-bonuses/#Personal_Cards">credit card</a> signup bonuses at <a target="_blank" href="https://www.doctorofcredit.com/a-list-of-churnable-bank-account-bonuses/#toc_container">DoctorOfCredit</a>. 
</p>
    <p>If you're not confident with your credit score, read more at <a target="_blank" href="https://www.doctorofcredit.com/questions-to-ask-yourself-before-applying-for-that-next-credit-card/">should you apply?</a> to see if "churning" is right for you. You may wish to avoid the credit card bonuses and only stick to the bank account bonuses. Bonus/interest over $10 is reported to the IRS. The banks will usually both mail the relevant tax form to your address and provide it in your account settings online. 
    </p>

<p>There may be annual or monthly fees, so cancel your account after the bonus posts. Then, move your money to the next bonus (and check DoctorOfCredit for info on fees) or just park your savings in Juno (listed below). Most banks such as Chase have no early cancellation fee and will let you get the signup bonus again after 2 years. Example: <a href="https://account.chase.com/consumer/banking/QK72296">$900 signup bonus for new Chase bank users</a>.  More info on <a href="https://www.doctorofcredit.com/targeted-chase-900-checking-savings-bonus/">DoctorOfCredit</a>.</p>
</div>
<div>
<h2>Review sites</h2>
<p>
    Be wary of the review sites from your top google search with nothing but top 5 or top 10 amazon links. Those low quality sites are often reviewed by someone who has no hands on experience with any of the products.
</p>
<p>Here are a few quality review websites with hands-on experience:</p>
<ul>
    <li>
        <p><a target="_blank" href="https://www.techgearlab.com/">TechGearLab</a></p>
        <p>
        <a target="_blank" href="https://www.outdoorgearlab.com/">OutdoorGearLab</a>
    </p>
    <p>
        <a target="_blank" href="https://www.babygearlab.com/">BabyGearLab</a>
    </p>
    </li>
    <p>These websites below loosely enforce article limits, but you can easily work around it by using  incognito mode, clear your cache/cookies, open another browser profile (available in <a target="_blank" href="https://brave.com/">Brave browser</a>), or using another browser.
    <li>
        <p><a target="_blank" href="https://www.rtings.com/">RTINGS</a> for electronics</p>
    </li>
    <li>
        <a target="_blank" href="https://www.wirecutter.com/">NY Times - Wirecutter</a>
        <p> You can also check out their <a href="https://www.nytimes.com/wirecutter/deals/#deals-controls">deals page</a>.
        <p>They have a history of pay-to-play corruption so take the higher-end ($1000+) suggestions with a grain of salt.</p>
    </li>
</ul>
</div>
<app-top-referrals></app-top-referrals>