<h1>Gadgets and gifts</h1>
<section>
  <h2>(Relatively) Quiet Blender</h2>
  <div>Last updated: May 2023.</div>
  <a
    href="https://www.amazon.com/gp/product/B00LX8OHAM?ie=UTF8&psc=1&linkCode=li3&tag=practicalre0a-20&linkId=a5a09e72ecbb8a43a5a6792bbe96565b&language=en_US&ref_=as_li_ss_il"
    target="_blank"
    ><img
      border="0"
      src="//ws-na.amazon-adsystem.com/widgets/q?_encoding=UTF8&ASIN=B00LX8OHAM&Format=_SL250_&ID=AsinImage&MarketPlace=US&ServiceVersion=20070822&WS=1&tag=practicalre0a-20&language=en_US" /></a
  ><img
    src="https://ir-na.amazon-adsystem.com/e/ir?t=practicalre0a-20&language=en_US&l=li3&o=1&a=B00LX8OHAM"
    width="1"
    height="1"
    border="0"
    alt=""
    style="border: none !important; margin: 0px !important"
  />
  <p>
    Buy this quiet, Made-In-USA Vitamix blender at
    <a target="_blank" href="https://amzn.to/3BUo2Vr">Amazon</a>
    (Price at time: $1,135. <sub>Sold by Amazon.com</sub>)
  </p>
  <p>
    Blendtec offers a similar product. There are other Made-in-China quiet
    alternatives that are much cheaper ($260) but may not last as long.
  </p>
  <!-- <app-pros-cons-table
    [pros]="fountainPros"
    [cons]="fountainCons"
  ></app-pros-cons-table> -->
</section>

<app-swatter></app-swatter>

<section>
  <h2>Pet fountain</h2>
  <div>Last updated: May 2023.</div>
  <a
    href="https://www.amazon.com/gp/product/B0BL19PM39?ie=UTF8&psc=1&linkCode=li3&tag=practicalre0a-20&linkId=9ca3b8d733e277f39a8f1a5ff75dac1a&language=en_US&ref_=as_li_ss_il"
    target="_blank"
    ><img
      border="0"
      src="//ws-na.amazon-adsystem.com/widgets/q?_encoding=UTF8&ASIN=B0BL19PM39&Format=_SL250_&ID=AsinImage&MarketPlace=US&ServiceVersion=20070822&WS=1&tag=practicalre0a-20&language=en_US" /></a
  ><img
    src="https://ir-na.amazon-adsystem.com/e/ir?t=practicalre0a-20&language=en_US&l=li3&o=1&a=B0BL19PM39"
    width="1"
    height="1"
    border="0"
    alt=""
    style="border: none !important; margin: 0px !important"
  />
  <p>
    If your pet is outside and you want their water to stay clean (and you have
    an A/C or usb outlet available), you might be interested in this stainless
    steel pet fountain at
    <a
      target="_blank"
      href="https://www.amazon.com/gp/product/B0BL19PM39?tag=practicalre0a-20"
      >Amazon</a
    >
    (Price at time: $29.
    <sub
      >Sold by
      <a target="_blank" href="https://www.amazon.com/sp?seller=A3K7AS2U2GJC82"
        >Ormalla</a
      ></sub
    >)
  </p>
  <p>
    This fountain runs very quiet as you can't hear the motor and the water does
    not splash.
  </p>
  <p>
    However, this needs manual cleaning every 2 days or daily. You may want a
    simpler gravity-fed larger water container that can be more easily cleaned.
  </p>
  <p>
    Fountain comes with a few filters but you can save money after a few weeks
    when its time for replacement and purchase Made-In-USA, cut-to-fit water
    filter at
    <a target="_blank" href="https://amzn.to/3oxtIBG">Amazon</a>
    (Price at time: $18 for 12x72.
    <sub
      >Sold by
      <a target="_blank" href="https://www.amazon.com/sp?seller=AM2SDMQNPD4V5"
        >Aquatic Experts</a
      ></sub
    >)
  </p>
  <app-pros-cons-table
    [pros]="fountainPros"
    [cons]="fountainCons"
  ></app-pros-cons-table>
  <h3>Competition tested</h3>
  <p>
    Pioneer Pet Stainless Steel Fountain Raindrop Design: Too noisy because
    motor hum is audible.
  </p>
  <p>
    Petilog Stainless Steel Cat Water Fountain, 3.2L: no auto shutoff, pump
    unable to reach low water
  </p>
  <p>
    PETKIT Wireless Pump Pet Smart Water Fountain: expensive, plastic top, needs
    additional product to connect to wifi (wireless is only bluetooth)
  </p>
</section>

<app-glass-pads></app-glass-pads>
<app-sunglass></app-sunglass>
<app-foot-massage></app-foot-massage>
<app-pepper-spray></app-pepper-spray>
